$muiPrimary: #3f51b5;

.btn-flat {
    display: inline-block;
    padding: 0.3em 1em;
    height: 1.4em;
    vertical-align: middle;
    text-decoration: none;
    color: $muiPrimary;
    border: solid 2px $muiPrimary;
    border-radius: 3px;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
        transition: 0.4s;
        background: $muiPrimary;
        color: white;
    }

    &:active {
        transition: 0s;
        border: solid 2px white;
    }

    &--disable {
        cursor: auto;
        color: #aaa;
        border: solid 2px #aaa;
    }
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
        border-left: solid 1px #ececec;
    }

    &::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 10px;
        box-shadow: inset 0 0 0 2px #fff;
    }
}
