.discord_logo {
    padding: 5px 10px;
    background-color: #6272f1;
    border-radius: 5%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    &:hover {
        background-color: #62a7f1;
    }
}

.auth {
    &__form-wrapper {
        background: $black2;
        border: 2px solid $black1;
        margin: 3em auto;
        text-align: center;
        padding: 0 1em;
        max-width: 370px;
    }

    &__h1 {
        text-align: center;
        padding: 1em 0;
    }

    &__form-footer {
        font-size: 1em;
        padding: 2em 0;
        text-align: center;
    }
}
