.discord_logo {
    padding: 5px 10px;
    background-color: #6272f1;
    border-radius: 5%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    &:hover {
        background-color: #62a7f1;
    }
}

.auth {
    &__form-wrapper {
        background: #fafafa;
        margin: 3em auto;
        padding: 0 1em;
        max-width: 370px;
    }

    &__h1 {
        text-align: center;
        padding: 1em 0;
    }

    &__form {
        padding: 0 1.5em;
    }

    &__form-item {
        margin-bottom: 0.75em;
        width: 100%;
    }

    &__form-item input {
        background: #fafafa;
        border: none;
        border-bottom: 2px solid #e9e9e9;
        color: #666;
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        height: 50px;
        transition: border-color 0.3s;
        width: 100%;
    }

    &__form-item input[type="checkbox"] {
        background: #fafafa;
        border: none;
        border-bottom: 2px solid #e9e9e9;
        color: #666;
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        height: auto;
        transition: border-color 0.3s;
        width: auto;
    }

    &__form-item input:focus {
        border-bottom: 2px solid #c0c0c0;
        outline: none;
    }

    &__textarea {
        background: #fafafa;
        border: 1px solid #d9d9d9;
        color: #666;
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        margin-top: 10px;
        height: 100px;
        transition: border-color 0.3s;
        width: 100%;
        &:focus {
            border: 1px solid #b0b0b0;
            outline: none;
        }
    }

    &__button-panel {
        margin: 2em 0 0;
        width: 100%;
    }

    &__button {
        background: #6272f1;
        padding: 15px 0px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1.2em;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        transition: background 0.3s ease-in-out;
        width: 100%;

        &:hover {
            background: #62a7f1;
        }

        &--disable {
            background: #b4b6bb;
            cursor: auto;
            &:hover {
                background: #b4b6bb;
            }
        }
    }

    &__form-footer {
        font-size: 1em;
        padding: 2em 0;
        text-align: center;
    }

    &__detail {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        outline: none;
        line-height: 1.6;
        resize: vertical;
    }

    &__year {
        background: #fff;
        border: 1px solid #dedede;
        border-radius: 4px;
        padding: 0.5rem 0.75rem;
        width: 100%;
    }

    &__checks {
        padding-left: 15px;
    }
}
