html {
    height: 100%;
    width: 100%;
}

body {
    background-color: $black3;
    color: $white1;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.btn-flat {
    display: inline-block;
    padding: 0.3em 1em;
    height: 1.4em;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    background-color: rgb(70, 91, 247);
    border: solid 2px rgb(70, 91, 247);
    border-radius: 3px;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
        transition: 0.4s;
        background: $muiPrimary;
        color: white;
    }

    &:active {
        transition: 0s;
        border: solid 2px white;
    }

    &--disable {
        cursor: auto;
        color: #aaa;
        border: solid 2px #aaa;

        display: inline-block;
        padding: 0.3em 1em;
        height: 1.4em;
        vertical-align: middle;
        text-decoration: none;
        border-radius: 3px;
        margin: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
