.viewer {
    &__side_wrapper {
        vertical-align: top;
        width: 250px;
    }

    &__wrapper {
        background: $black2;
        border: 2px solid $black1;
        margin: 20px auto 0px;
        padding: 0 1em;
    }

    &__side {
        &_wrapper {
            vertical-align: top;
            width: 250px;
        }

        &_contents {
            @include scrollbar;
            color: #ccc;
            overflow-y: scroll;
            box-sizing: border-box;
            overflow-x: hidden;
            height: calc(100vh - 300px);
        }

        &_table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }
    }

    &__canvas {
        -webkit-user-select: none;
        user-select: none;
        &_wrapper {
            -webkit-user-select: none;
            user-select: none;
            padding: 5px 20px;
            &--disable {
                display: none;
            }
        }
    }

    &__portfolio {
        @include scrollbar;
        background-color: white;
        color: black;
        padding: 30px 20px 30px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-y: scroll;

        &_wrapper {
            padding: 5px 20px;
            &--disable {
                display: none;
            }
        }
    }

    &__tab {
        &-wrap {
            table-layout: fixed;
            width: 250px;
        }

        &-switch {
            cursor: pointer;
            text-align: center;
            &:hover {
                color: #888;
            }
            border-bottom: 3px solid $black3;
            height: 2em;
            order: -1;

            &--select {
                border-bottom: 3px solid white;
            }

            &--100 {
                width: 100%;
            }
        }

        &-content {
            width: 100%;
            display: none;
        }
    }

    &__onedit {
        width: 300px;
        bottom: 10px;
        position: relative;
        text-align: right;
    }

    &__editor-tab {
        position: relative;
        display: flex;
        padding: 0 20px;
    }
}
