$muiPrimary: #3f51b5;
$black3: rgb(55, 57, 62);
$black2: rgb(49, 49, 54);
$black1: rgb(32, 34, 37);
$white1: #eee;
$blue1: #37c0ff;

$PADDING_TOP: 50px;
$PADDING_BOTTOM: 2em;
$SPLIT_LENGTH: 30vw;

@import "mixin";
@import "common";
@import "note";
@import "viewer";
@import "editor";
@import "master";
@import "markdown";
@import "auth";
@import "header";
